@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #3CB371;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.card{
    background: #fdfdfd;
    border-radius: 4px;
    height: 85vh;
    width: 85vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.23);
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

.card *{
    transition: all 0.2s ease-in-out;
}

@media only screen and (min-width: 1000px){
    .card{
        flex-direction: row-reverse;
    }
    .card img.birthday{
        max-height: 50%;
    }
}

@media only screen and (min-height: 640px){
    .card{
        flex-direction: row-reverse;
    }
    .card img.birthday{
        max-height: 50%;
    }
}

img.birthday{
    max-height: 40vh;
}

.text{
    margin-top: 5px;
}

.muted{
    opacity: 0.8;
}

.space{
    height: 100px;
}